.line-picture{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 27px;
    padding-bottom: 30px;
}
.meeting-pictures{
    width: 200px;
    height: 190px;
    overflow: hidden;
    background-color: #FFFFFF;
    border-radius: 7px;
}

.meeting-pictures img{
    width: 100%;
}

.meeting-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.meeting-content h2{
    margin-top: 20px;
}

.meeting-content-title{
    width: 450px;
    margin-bottom: 40px;
}

.meeting-content-text{
    width: 520px;
}

.container-numb-2{
    position: relative;
    bottom: -35px;
}



@media screen and (min-height: 760px) {
    .meeting-pictures {
        width: 235px;
        height: 225px;
    }

    .line-picture{
        margin-top: 50px;
        padding-bottom: 50px;
    }

    .meeting-content-text{
        margin-bottom: 70px;
    }

    .footer-container{
        height: 308px;
    }
}

/*ipad*/
@media screen and (max-width: 820px) {
    .meeting-pictures {
        width: 167px;
        height: 158px;
    }

    .line-picture{
        margin-top: 0;
        padding-bottom: 50px;
    }

    .meeting-content-text{
        margin-bottom: 70px;
    }

    .footer-container{
        height: 308px;
    }
}